.event-item {
	grid-template-areas: "image title link" "image start-date end-date" "image location .";
	padding: 0.8em 1em;
	border: 1px solid currentColor;
	border-radius: 6px;
	grid-template-rows: auto;
	grid-template-columns: 6em auto auto 1.3em;
}

.event-item > .event-location {
	grid-area: location;
}

.event-item > .event-title {
	grid-area: title;
}

.event-item > .event-image {
	grid-area: image;
}

.event-item > .event-start-date {
	grid-area: start-date;
}

.event-item > .event-end-date {
	grid-area: end-date;
}

.event-item > .event-description {
	grid-area: description;
}

.event-item > .event-link {
	grid-area: link;
}
