#header {
	text-align: center;
	background-image: url(https://static.wixstatic.com/media/0bde5a_37b22617974d4a868727a453056208cd~mv2.jpg/v1/fill/w_736,h_351,al_c,q_80/0bde5a_37b22617974d4a868727a453056208cd~mv2.webp);
	background-repeat: repeat;
	background-size: auto;
}

#header .event-card {
	display: inline-block;
	padding: 1.2rem;
	margin-top: 12vh;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(4px);
	max-width: 95vw;
	line-height: 1.5;
}

#header .event-title {
	margin: 0.8rem 0;
}

#header .event-card .color-accent {
	color: #cb7346;
	text-shadow: 0 0 3px #6a2f10;
}
