@charset "UTF-8";
@import url("./vars.css");
@import url("https://cdn.kernvalley.us/css/normalize/normalize.css");
@import url("https://cdn.kernvalley.us/css/core-css/rem.css");
@import url("https://cdn.kernvalley.us/css/core-css/viewport.css");
@import url("https://cdn.kernvalley.us/css/core-css/element.css");
@import url("https://cdn.kernvalley.us/css/core-css/class-rules.css");
@import url("https://cdn.kernvalley.us/css/core-css/scrollbar.css");
@import url("https://cdn.kernvalley.us/css/core-css/cdn-fonts.css");
@import url("https://cdn.kernvalley.us/css/core-css/display-mode.css");
@import url("https://cdn.kernvalley.us/css/core-css/accordion.css");
@import url("https://cdn.kernvalley.us/css/core-css/forms.css");
@import url("./layout.css");
@import url("./events.css");
@import url("./contact.css");

img.avatar {
	vertical-align: middle;
	margin-left: 1.2em;
}

.flex.row > .btn.btn-wide {
	flex: 1 0 auto;
	margin: 0 0.6em;
}

input[type="time"] {
	max-width: 10ch;
}


@media not (prefers-color-scheme: dark) {
	:root:not([data-theme="dark"]) {
		background-color: #aeaeae;
	}
}
