:root.js {
	--map-width: 100%;
	--map-height: calc(90vh - var(--nav-height, 4rem));
	--sidebar-max-width: 30vw;
	--scrollbar-color: var(--accent-color);
	--scrollbar-track: transparent;
	--title-font: Rye;
	--ad-block-width: 30vw;

	--ad-block-height: 180px;
}

@media (max-width: 800px) {
	:root.js {
		--ad-block-width: 95vw;
	}
}
