---
layout: default
title: Events
permalink: /events/
pinned: true
index: true
description: Events Page for Whiskey Flat Days in Kernville, CA
tags:
  - events
  - whiskey flat days
  - whiskey flats
  - kernville
  - rodeo
  - encampment
---
<h2 class="center font-title section-heading">Whiskey Flat Days Events</h2>
{% assign events = site.data.events | sort: 'startDate' %}
	{% include event-status.html event=site.data.mainEvent %}
	{% unless site.data.mainEvent.eventStatus == 'EventCancelled' %}
		<div id="event-list" class="event-list grid justify-center">
			{% for event in events %}
				<div id="{{ event.uuid }}" class="event-item grid contain-content content-visibility-auto shadow" itemtype="https://schema.org/{{ event['@type'] | default: 'Event' }}" itemscope="">
					<meta itemprop="superEvent" itemref="main-event" itemtype="https://schema.org/{{ site.data.mainEvent['@type'] | default: 'Event' }}" itemscope="" />
					<meta itemprop="eventAttendanceMode" content="{{ marker.eventAttendanceMode | default: 'https://schema.org/OfflineEventAttendanceMode' }}" />
					<meta itemprop="eventStatus" content="{{ marker.eventStatus | default: 'https://schema.org/EventScheduled' }}" />
					<span class="event-image-container inline-block center">
						<img src="{{ event.image | default: '/img/markers/activity.svg' }}" class="event-image fit-cover" itemprop="image" decoding="async" alt="{{ event.title | escape_once }} image" loading="lazy" />
					</span>
					<a href="{{ site.data.pages.map.url }}#{{ event.uuid }}" class="event-title">
						<h3 class="center no-margins">
							{% if event.music %}<span class="emoji">🎶 </span>{% endif %}
							<span itemprop="name" class="font-title section-heading">{{ event.title }}</span>
						</h3>
					</a>
					<span class="event-dates inline-block">
						{% include common/icon.html icon="calendar" height="16" width="16" fill="currentColor" %}
						<time itemprop="startDate" class="event-start-date" datetime="{{ event.startDate | date_to_xmlschema }}">
							<b class="event-day">{{ event.startDate | date: '%a' }}</b>
							{{ event.startDate | date: '%-I:%M %p'}}
						</time>
						<span class="mobile-hidden">&mdash;</span>
						<time class="event-end-date mobile-hidden" itemprop="endDate" datetime="{{ event.endDate | date_to_xmlschema }}">{{ event.endDate | date: '%-I:%M %p'}}</time>
					</span>
					{% if event.offers %}
						<div class="flex row wrap event-offers">
							{% for offer in event.offers %}
								{% if offer.url %}
									<a href="{{ offer.url }}" rel="noopener noreferrer external" role="button" class="btn btn-primary" itemprop="https://schema.org/Offer" itemprop="offers" itemscope="">
										{% include common/icon.html icon="link-external" height="18" width="18" fill="currentColor" %}
										<span class="offer-label" itemprop="name">{{ offer.name | default: "Admission" }}</span>:
										<meta itemprop="priceCurrency" content="{{ offer.priceCurrency | default: 'USD' }}" />
										<meta itemprop="availability" content="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
										<meta itemprop="url" content="{{ offer.url }}" />
										<span>$</span><span itemprop="price">{{ offer.price }}</span>
									</a>
								{% else %}
									<button class="btn btn-default" disabled="">
										<span class="offer-label" itemprop="name">{{ offer.name | default: "Admission" }}</span>:
										<meta itemprop="priceCurrency" content="{{ offer.priceCurrency | default: 'USD' }}" />
										<meta itemprop="availability" content="https://schema.org/{{ offer.availability | default: 'InStock' }}" />
										<span>$</span><span itemprop="price">{{ offer.price }}</span>
									</button>
								{% endif %}
							{% endfor %}
						</div>
					{% else %}
						<div class="event-offers"></div>
					{% endif %}
					<address class="inline-block event-location" itemprop="location" itemtype="https://schema.org/Place" itemscope="">
						{% include common/icon.html icon="mark-location" height="16" width="16" fill="currentColor" %}
						{% if event.location.name %}<b itemprop="name">{{ event.location.name }}</b>,{% endif %}
						{% if event.location.address %}
							<span class="inline-address inline-block" itemprop="address" itemtype="https://schema.org/PostalAddress" itemscope="">
								{% if event.location.address.streetAddress %}<span itemprop="streetAddress">{{ event.location.address.streetAddress }}</span>,{% endif %}
								<span class="locality" itemprop="addressLocality">{{ event.location.address.addressLocality | default: 'Kernville' }}</span>
								<meta itemprop="addressRegion" content="{{ event.location.address.addressRegion | default: 'CA' }}" />
								<meta itemprop="addressCountry" content="{{ event.location.address.addressCountry | default: 'US' }}" />
								<meta itemprop="postalCode" content="{{ event.location.address.postalCode | default: '93238' }}" />
							</span>
						{% endif %}
						{% if event.location.geo %}
							<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" itemscope="" hidden="">
								<meta itemprop="latitude" content="{{ event.location.geo.latitude }}" />
								<meta itemprop="longitude" content="{{ event.location.geo.longitude }}" />
							</div>
						{% endif %}
					</address>
					<div class="event-description" itemprop="description" hidden="">{{ event.description }}</div>
					<a href="/map/#{{ event.uuid }}" class="event-link" title="View on Map" itemprop="url">
						{% include common/icon.html icon="map" fill="currentColor" height="20" width="20" %}
					</a>
				</div>
			{% endfor %}
		</div>
	{% endunless %}
</div>
