---
layout: null
permalink: /events.json
index: false
---
[{% for event in site.data.events %}
  {
    "@context": "https://schema.org",
    "@type": "{{ event['@type'] | default: 'Event' }}",
    "@identifier": "{{ event.uuid }}",
    "name": {{ event.name | default: event.title | jsonify }},
    "url": "{{ '/events/' | absolute_url }}#{{ event.uuid }}",
    "image": {{ event.image | default: '/img/markers/activity.svg' | absolute_url }},
    "eventStatus": "{{ event.eventStatus | default: 'EventScheduled' }}",
    "eventAttendanceMode": {{ event.eventAttendanceMode | jsonify }},
    "description": {{ event.description | jsonify }},
    "startDate": "{{ event.startDate | date_to_xmlschema }}",
    "endDate": "{{ event.endDate | date_to_xmlschema }}",
    "location": {
      "@type": "{{ event.location['@type'] | default: 'Place' }}",
      "name": "{{ event.location.address.name }}",
      {% if event.location.address %}"address": {
        "@type": "{{ event.location.address['@type'] | default: 'PostalAddress' }}",
        "streetAddress": {{ event.location.address.streetAddress | jsonify }},
        "addressLocality": "{{ event.location.address.addressLocality }}",
        "addressRegion": "{{ event.location.address.addressRegion | default: 'CA' }}",
        "postalCode": {{ event.location.address.postalCode | default: 93238 | jsonify }},
        "addressCountry": "{{ event.location.addressCountry | default: 'US' }}"
      }{% endif %},
      "geo": {
        "@type": "{{ event.location.geo['@type'] | default: 'GeoCoordinates' }}",
        "longitude": {{ event.location.geo.longitude | jsonify }},
        "latitude": {{ event.location.geo.latitude | jsonify }}
      }
    },
    "offers": {{ event.offers | jsonify }}
  }{% unless forloop.last %},{% endunless %}
{% endfor %}]
