---
layout: default
title: Events
permalink: /events/
pinned: true
index: true
---
<main id="main">
	{% assign events = site.data.events | sort: 'startDate' %}
	{% for event in events %}
		<div id="{{ event.uuid }}" class="event-item grid" itemtype="https://schema.org/Event" itemscope="">
			<img src="{{ event.image }}" class="event-image" itemprop="image" decoding="async" alt="{{ event.title }} image" loading="lazy" />
			<h3 itemprop="title" class="event-title center">{{ event.title }}</h3>
			<div class="event-dates">
				<time itemprop="startDate" class="event-start-date" datetime="{{ event.startDate | date_to_xmlschema }}">{{ event.startDate | date: '%a, %b %d %r'}}</time>
				<span>&mdash;</span>
				<time itemprop="endDate" class="event-end-date" datetime="{{ event.endDate | date_to_xmlschema }}">{{ event.endDate | date: '%a, %b %d %r'}}</time>
			</div>
			<div class="event-description" itemprop="description" hidden="">{{ event.description }}</div>
			<a href="/map/#{{ event.uuid }}" class="event-link" title="View on Map" itemprop="url">
				{% include icon.html icon="map" %}
			</a>
		</div>
	{% endfor %}
</main>
{% include footer.html %}
