---
layout: default
title: Events
permalink: /events/
pinned: true
index: true
no-header: true
description: Events Page for Whiskey Flat Days in Kernville, CA
tags:
- events
- whiskey flat days
- kernville
- rodeo
- encampment
---
{% assign events = site.data.events | sort: 'startDate' %}
<div class="card shadow" itemprop="about" itemtype="https://schema.org/{{ site.data.mainEvent['@type'] | default: 'Event' }}" itemscope="">
	<h2 class="center" itemprop="name">{{ site.data.mainEvent.name }}</h2>
	<meta itemprop="url" content="{{ site.data.mainEvent.url }}" />
	<div itemprop="description">{{ site.data.mainEvent.description }}</div>
	<meta itemprop="image" content="{{ site.data.mainEvent.image.first.url }}" />
	<div class="event-dates center">
		<time itemprop="startDate" datetime="{{ site.data.mainEvent.startDate }}">{{ site.data.mainEvent.startDate | date: "%b %d, %Y" }}</time>
		<span>&mdash;</span>
		<time itemprop="endDate" datetime="{{ site.data.mainEvent.endDate }}">{{ site.data.mainEvent.endDate| date: "%b %d, %Y" }}</time>
	</div>
	<meta itemprop="eventAttendanceMode" content="{{ site.data.mainEvent.eventAttendanceMode | default: 'OfflineEventAttendanceMode' }}" />
	<meta itemprop="eventStatus" content="{{ site.data.mainEvent.eventStatus | default: 'EventScheduled' }}" />
	<div itemprop="organizer" itemtype="https://schema.org/{{ site.data.mainEvent.organizer['@type'] | default: 'Organization' }}" itemscope="" hidden="">
		<meta itemprop="name" content="{{ site.data.mainEvent.organizer.name }}" />
		<meta itemprop="url" content="{{ site.data.mainEvent.organizer.url }}" />
	</div>
	<address itemprop="location" itemtype="https://schema.org/{{ site.data.mainEvent.location['@type'] | default: 'Place' }}" itemscope="" hidden="">
		<meta itemprop="name" content="{{ site.data.mainEvent.location.name }}" />
		<!-- <meta itemprop="image" content="https://whiskeyflatdays.com/coach-800.jpg" /> -->
		<div itemprop="address" itemtype="https://schema.org/PostalAddress" itemscope="" hidden="">
			<meta itemprop="addressLocality" content="{{ site.data.mainEvent.location.address.addressLocality }}" />
			<meta itemprop="addressRegion" content="{{ site.data.mainEvent.location.address.addressRegion }}" />
			<meta itemprop="addressCountry" content="{{ site.data.mainEvent.location.address.addressCountry }}" />
			<meta itemprop="postalCode" content="{{ site.data.mainEvent.location.address.postalCode }}" />
		</div>
		<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" itemscope="" hidden="">
			<meta itemprop="latitude" content="{{ site.data.mainEvent.location.geo.latitude }}" />
			<meta itemprop="longitude" content="{{ site.data.mainEvent.location.geo.longitude }}" />
		</div>
	</address>
	{% include event-status.html event=site.data.mainEvent %}
	{% unless site.data.mainEvent.eventStatus == 'EventCancelled' %}{% for event in events %}
		<div id="{{ event.uuid }}" class="event-item grid contain-content content-visibility-auto" itemprop="subEvent" itemtype="https://schema.org/Event" itemscope="">
			<meta itemprop="eventAttendanceMode" content="{{ marker.eventAttendanceMode | default: 'https://schema.org/OfflineEventAttendanceMode' }}" />
			<meta itemprop="eventStatus" content="{{ marker.eventStatus | default: 'https://schema.org/EventScheduled' }}" />
			<span class="event-image-container inline-block center">
				<img src="{{ event.image | default: '/img/markers/activity.svg' }}" class="event-image fit-cover" itemprop="image" decoding="async" alt="{{ event.title | escape_once }} image" loading="lazy" />
			</span>
			<a href="/map/#{{ event.uuid }}" class="event-title">
				<h3 class="center no-margins">
					{% if event.music %}<span class="emoji">🎶 </span>{% endif %}
					<span itemprop="name">{{ event.title }}</span>
				</h3>
			</a>
			<span class="event-dates inline-block">
				<time itemprop="startDate" class="event-start-date" datetime="{{ event.startDate | date_to_xmlschema }}">{{ event.startDate | date: '%a, %b %d %r'}}</time>
				<span class="event-end-date mobile-hidden">
					<span>&mdash;</span>
					<time class="event-end-date" itemprop="endDate" datetime="{{ event.endDate | date_to_xmlschema }}">{{ event.endDate | date: '%a, %b %d %r'}}</time>
				</span>
			</span>
			<address class="inline-block event-location" itemprop="location" itemtype="https://schema.org/Place" itemscope="">
				{% if event.location.name %}<b itemprop="name">{{ event.location.name }}</b>,{% endif %}
				{% if event.location.address %}
					<span class="inline-address inline-block" itemprop="address" itemtype="https://schema.org/PostalAddress" itemscope="">
						{% if event.location.address.streetAddress %}<span itemprop="streetAddress">{{ event.location.address.streetAddress }}</span>,{% endif %}
						<span class="locality" itemprop="addressLocality">{{ event.location.address.addressLocality | default: 'Kernville' }}</span>
						<meta itemprop="addressRegion" content="{{ event.location.address.addressRegion | default: 'CA' }}" />
						<meta itemprop="addressCountry" content="{{ event.location.address.addressCountry | default: 'US' }}" />
						<meta itemprop="postalCode" content="{{ event.location.address.postalCode | default: '93238' }}" />
					</span>
				{% endif %}
				{% if event.location.geo %}
					<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" itemscope="" hidden="">
						<meta itemprop="latitude" content="{{ event.location.geo.latitude }}" />
						<meta itemprop="longitude" content="{{ event.location.geo.longitude }}" />
					</div>
				{% endif %}
			</address>
			<div class="event-description" itemprop="description" hidden="">{{ event.description }}</div>
			<a href="/map/#{{ event.uuid }}" class="event-link" title="View on Map" itemprop="url">
				{% include icon.html icon="map" %}
			</a>
		</div>
	{% endfor %}{% endunless %}
</div>
