---
layout: default
title: Home
permalink: /
pinned: true
index: true
no-header: true
description: The Homepage for Whiskey Flat Days, held on Presidents' Day Weekend in Kernville, CA
tags:
  - whiskey flat days
  - whiskey flats
  - events
  - kernville
  - rodeo
  - encampment
  - old west
  - festival
---
<article itemtype="https://schema.org/Article" itemscope="">
	<header itemprop="about" itemtype="https://schema.org/{{ site.data.mainEvent['@type'] | default: 'Event' }}" itemscope="">
		<h2 class="center" itemprop="name">{{ site.data.mainEvent.name }}</h2>
		<meta itemprop="url" content="{{ site.data.mainEvent.url }}" />
		<div class="center" itemprop="description">{{ site.data.mainEvent.description }}</div>
		<meta itemprop="image" content="{{ site.data.mainEvent.image.first.url }}" />
		<div class="event-dates center">
			<time itemprop="startDate" datetime="{{ site.data.mainEvent.startDate }}">{{ site.data.mainEvent.startDate | date: "%b %d, %Y" }}</time>
			<span>&mdash;</span>
			<time itemprop="endDate" datetime="{{ site.data.mainEvent.endDate }}">{{ site.data.mainEvent.endDate| date: "%b %d, %Y" }}</time>
		</div>
		<meta itemprop="eventAttendanceMode" content="{{ site.data.mainEvent.eventAttendanceMode | default: 'OfflineEventAttendanceMode' }}" />
		<meta itemprop="eventStatus" content="{{ site.data.mainEvent.eventStatus | default: 'EventScheduled' }}" />
		<div itemprop="organizer" itemtype="https://schema.org/{{ site.data.mainEvent.organizer['@type'] | default: 'Organization' }}" itemscope="" hidden="">
			<meta itemprop="name" content="{{ site.data.mainEvent.organizer.name }}" />
			<meta itemprop="url" content="{{ site.data.mainEvent.organizer.url }}" />
		</div>
		<address itemprop="location" itemtype="https://schema.org/{{ site.data.mainEvent.location['@type'] | default: 'Place' }}" itemscope="" hidden="">
			<meta itemprop="name" content="{{ site.data.mainEvent.location.name }}" />
			<!-- <meta itemprop="image" content="https://whiskeyflatdays.com/coach-800.jpg" /> -->
			<div itemprop="address" itemtype="https://schema.org/PostalAddress" itemscope="" hidden="">
				<meta itemprop="addressLocality" content="{{ site.data.mainEvent.location.address.addressLocality }}" />
				<meta itemprop="addressRegion" content="{{ site.data.mainEvent.location.address.addressRegion }}" />
				<meta itemprop="addressCountry" content="{{ site.data.mainEvent.location.address.addressCountry }}" />
				<meta itemprop="postalCode" content="{{ site.data.mainEvent.location.address.postalCode }}" />
			</div>
			<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" itemscope="" hidden="">
				<meta itemprop="latitude" content="{{ site.data.mainEvent.location.geo.latitude }}" />
				<meta itemprop="longitude" content="{{ site.data.mainEvent.location.geo.longitude }}" />
			</div>
		</address>
		{% if site.data.mainEvent.organizer %}
			<div class="center" itemprop="organizer" itemtype="https://schema.org/{{ site.data.mainEvent.orgaizer['@type'] | defalt: 'Organization' }}" itemscope="">
				<b>Organized by:</b>
				{% if site.data.mainEvent.organizer.url %}
					<a href="{{ site.data.mainEvent.organizer.url }}" itemprop="url" rel="noopener noreferrer external">
						<span itemprop="name">{{ site.data.mainEvent.organizer.name }}</span>
						{% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}
					</a>
				{% else %}
					<span itemprop="name">{{ site.data.mainEvent.organizer.name }}</span>
				{% endif %}
			</div>
		{% endif %}
	</header>
	<hr />
	{% include event-status.html event=site.data.mainEvent %}
	<section id="about" itemprop="text">
		<p>One of the most popular Festivals in all of Southern California.  Just a short
		3 hour drive from Los Angeles, you will find the quaint town of Kernville,
		home to Whiskey Flat Days (50 miles east of Bakersfield on Hwy 178).  Whiskey
		Flat Days is held every Presidents Day Weekend.  It is a leap back to the good
		ol' Wild West Days when the area was settled by gold miners, cattle ranchers
		and trappers. Join us when Kernville reverts to its old name "Whiskey Flat"
		for four nostalgic days of fun for the entire family. Parade, <a href="/events/#9027fbbc-9e1c-4f05-a92a-10ef29cbc4dc">Wild West Daze
		Rodeo</a>, Wild West Encampment, Carnival Rides, Frog Jumping Contests, Whiskey
		Flat Mayor Contest, Food & Craft Booths, Epitaph, Costume & Whiskerino Contests,
		Line Dancing, Pet Parade, Blue Grass & Country Western Music, Art Show,
		Gunfighter Skits, Kids Activities, Games, & much more!</p>
		<div class="center">{% include common/youtube.html id="qo4xbaeaNcU" title="WFD-2017" %}</div>
	</section>
	<section id="rodeo" itemprop="text">
		<h2 class="center">
			<a href="/#rodeo">Wild West Daze Rodeo</a>
		</h2>
		<div class="flex row space-evenly">
			<a href="#" role="button" class="btn btn-primary">
				<span>Tickets</span>
				{% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}
			</a>
		</div>
	</section>
	<section id="encampment" itemprop="text">
		<h2 class="center">
			<a href="/#encampment">Wild West Encampment</a>
		</h2>
		<div class="center">{% include common/youtube.html id="5qwCmd9i3WM" title="Encampment" %}</div>
	</section>
	<section id="parade" itemprop="text">
		<h2 class="center">
			<a href="/#parade">Whiskey Flat Days Parade</a>
		</h2>
		<div class="flex row space-evenly">
			<a href="#" role="button" class="btn btn-primary">
				<span>Register</span>
				{% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}
			</a>
		</div>
	</section>
	<section id="vendors" itemprop="text">
		<h2 class="center">
			<a href="/#vendors">Whiskey Flat Days Vendors</a>
		</h2>
		<div class="flex row space-evenly">
			<a href="#" role="button" class="btn btn-primary">
				<span>Application</span>
				{% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}
			</a>
		</div>
	</section>
</article>
