---
layout: default
title: Map
permalink: /map/
pinned: true
index: true
referrer: no-referrer
description: Map of events, vendors, and other Points-of-interest for Whiskey Flat Days in Kernville, CA
tags:
  - events
  - whiskey flat days
  - kernville
  - rodeo
  - encampment
  - vendors
  - point of interest
  - map
  - festival
preconnect:
  - href: https://maps.wikimedia.org
    referrerPolicy: no-referrer
    crossOrigin: anonymous
preload:
  - href: https://unpkg.com/leaflet@1.7.1/dist/leaflet.css
    as: style
    referrerPolicy: no-referrer
    crossOrigin: anonymous
    integrity: sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==
  - href: https://cdn.kernvalley.us/components/leaflet/map.css
    as: style
    referrerPolicy: no-referrer
    crossOrigin: anonymous
  - href: https://cdn.kernvalley.us/components/leaflet/map.html
    as: fetch
    type: text/html
    referrerPolicy: no-referrer
    crossOrigin: anonymous
  - href: https://cdn.kernvalley.us/img/markers.svg
    as: image
    type: image/svg+xml
    crossOrigin: anonymous
    referrerPolicy: no-referrer
    importance: high
---
<main id="main" class="contain-content">
	{% include not-supported.html %}
	<div class="flex row" hidden="">
		<button type="button" class="btn btn-primary" data-show="#event-search-toast">
			{% include common/icon.html icon="clock" height="16" width="16" fill="currentColor" %}
			<span class="mobile-hidden">Search Events by Time</span>
		</button>
		<button type="button" class="btn btn-primary" data-show="#business-search-toast">
			{% include common/icon.html icon="organization" %}
			<span class="mobile-hidden">Search Businesses by Category</span>
		</button>
	</div>
	{% include map.html %}
</main>
{% unless site.data.mainEvent.eventStatus == 'EventCancelled' %}
	{% include event-search.html %}
	{% include business-search.html %}
	{% include vendor-search.html %}
	<button type="button" id="search-btn" class="btn btn-primary fixed bottom left z-top shadow round" data-show="#event-search-toast" title="Search Events">
		{% include common/icon.html icon="search" %}
	</button>
{% endunless %}
