---
layout: base
data-layout: wide
title: Map
permalink: /map/
pinned: true
---
{% include header.html %}
{% include nav.html %}
<main id="main">
	<open-street-map center="35.755105,-118.424974" zoom="16" class="relative z-1">
		{% for marker in site.data.vendors %}
			<map-marker longitude="{{ marker.location.longitude }}" latitude="{{ marker.location.latitude }}" slot="markers" title="{{ marker.title }}"{% if marker.category %} data-category={{ marker.category }}{% endif %} hidden="">
				<img src="{{ marker.icon | default: '/img/adwaita-icons/actions/mark-location.svg' }}" slot="icon" width="32" height="32" />
				<div slot="popup">{{ marker.popup | default: marker.title }}</div>
			</map-marker>
		{% endfor %}{% for marker in site.data.businesses %}
			<map-marker longitude="{{ marker.location.longitude }}" latitude="{{ marker.location.latitude }}" slot="markers" title="{{ marker.title }}"{% if marker.category %} data-category={{ marker.category }}{% endif %}>
				<img src="{{ marker.icon | default: '/img/adwaita-icons/actions/mark-location.svg' }}" slot="icon" width="32" height="32" />
				<div slot="popup">{{ marker.popup | default: marker.title }}</div>
			</map-marker>
		{% endfor %}
	</open-street-map>
</main>
<aside id="sidebar"></aside>
{% include footer.html %}
{% include share-button.html %}
