---
layout: null
permalink: /mayors/events.json
---
{% assign now = 'now' | date: "%Y-%m-%d %H:%M" %}[{% for mayor in site.mayors %}{% for event in mayor.events %}{% if event.startDate > now %}{
  "@context": "https://schema.org",
  "@type": "{{ event['@type'] | default: 'Event' }}",
  "name": {{ event.name | jsonify }},
  "description": "{{ event.description }}",
  "startDate": "{{ event.startDate | date_to_xmlschema }}}",{% if event.endDate %}
  "endDate": "{{ event.endDate | date_to_xmlschema }}",{% endif %}
  "image": "{{ event.image | default: mayor.image | default: 'https://cdn.kernvalley.us/img/raster/missing-image.png' }}",
  "url": "{{ mayor.url | absolute_url }}#{{ event.identifier }}",
  "performer": {
    "@type": "Person",
    "name": {{ mayor.title | jsonify }},
    "url": "{{ mayor.url | absolute_url }}",
    "image": "{{ mayor.image | default: 'https://cdn.kernvalley.us/img/raster/missing-image.png' }}"
  },
  "location": {
    "@type": "{{ event.location['@type'] | default: 'Place' }}",{% if event.location.name %}
    "name": {{ event.location.name | jsonify }},{% endif %}
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ event.location.streetAddress }}",
      "addressLocality": "{{ event.location.addressLocality | default: 'Kernville' }}",
      "addressRegion": "{{ event.location.addressRegion | default: 'CA' }}",
      "postalCode": "{{ event.location.postalCode | default: 93238  }}",
      "addressCountry": "{{ event.location.addressCountry | default: 'USA' }}"
    }
  }
}{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}{% endfor %}]
