---
title: News
deescription: News and announcements for Whiskey Flat Days
tags:
  - whiskey flat days
  - whiskey flats
  - kernville
  - news
  - festivals
  - announcements
layout: default
index: true
pinned: true
---
{% if paginator == null or pagination.total_posts == 0 %}
	<div class="status-box info">
		<h3 class="center">
			{% include common/icon.html icon="megaphone" class="icon flip" height="16" width="16" fill="currentColor" %}
			<span>Coming Soon &hellip;</span>
			{% include common/icon.html icon="megaphone" height="16" width="16" fill="currentColor" %}
		</h3>
		<p>Come back later for the latest news and announcements for Whiskey Flat Days.</p>
	</div>
{% else %}
	<h2 class="center font-title section-heading">Whiskey Flat Days News</h2>
	<section class="grid" id="posts">
		{% for post in paginator.posts %}
			<a href="{{ post.url }}" class="card shadow center color-inherit post-preview" accesskey="{{ forloop.index }}">
				<h3 class="post-title font-title section-heading">{{ post.title }}</h3>
				{% if post.imgur %}
					{% include common/imgur.html url=post.imgur class="post-preview-img" sizes="250px" width="250" %}
				{% elsif post.image contains 'https://i.imgur.com/' %}
					{% include common/imgur.html url=post.image class="post-preview-img" sizes="250px" width="250" %}
				{% else %}
					<img src="{{ post.image | default: 'https://cdn.kernvalley.us/img/raster/missing-image.png' }}" class="post-preview-img" loading="lazy" crossorigin="anonymous" referrerpolicy="no-referrer" width="250" alt="" />
				{% endif %}
				<div class="color-default">
					<span>Posted on</span>
					<time class="post-date" datetime="{{ post.date }}">{{ post.date | date: '%a, %b %e, %Y' }}</time>
				</div>
			</a>
		{% endfor %}
	</section>
	{% if paginator.total_pages != 1 %}
		<div class="pagination-nav">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" rel="prev" class="btn btn-primary color-alt decoration-none pagination" accesskey="[">
					{% include common/icon.html icon="go-previous" height="16" width="16" fill="currentColor" %}
					<span>Prev</span>
				</a>
			{% endif %}
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" rel="next" class="btn btn-primary color-alt decoration-none pagination" accesskey="]">
					<span>Next</span>
					{% include common/icon.html icon="go-next" height="16" width="16" fill="currentColor" %}
				</a>
			{% endif %}
		</div>
	{% endif %}
{% endif %}
