---
layout: null
permalink: /store/create
index: false
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="light dark" />
		<meta name="robots" content="noindex" />
		<meta name="referrer" content="no-referrer"/>
		<title>Add Items to WFD Store</title>
		<script type="module" src="https://cdn.kernvalley.us/js/std-js/shims.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script type="module" src="/js/product-creation.js" referrerpolicy="no-referrer"></script>
		<script type="module" src="https://cdn.kernvalley.us/components/github/user.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/element.css" referrerpolicy="no-referrer" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/class-rules.css" referrerpolicy="no-referrer" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/forms.css" referrerpolicy="no-referrer" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/rem.css" referrerpolicy="no-referrer" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/scrollbar.css" referrerpolicy="no-referrer" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/cdn-fonts.css" referrerpolicy="no-referrer" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.kernvalley.us/css/core-css/theme/default/index.css" referrerpolicy="no-referrer" crossorigin="anonymous" />
		<link rel="stylesheet" href="/css/product-creation.css" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/css/vars.css" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/css/footer.css" referrerpolicy="no-referrer" />
	</head>
	<body class="background-primary color-default border-box font-main">
		<header id="header" class="sticky top shadow background-accent color-alt">
			<ol id="products" class="flex row space-around"></ol>
		</header>
		<div id="msg" class="center">
			<div class="status-box info inline-block">
				<p>This page is for creating products to list on the WFD Store.</p>
				<p>Please create your items by filling out the <span class="underline cursor-pointer" data-show-modal="#add-dialog">form</span> and submitting the file to <a href="mailto:admin@kernvalley.us">admin@kernvalley.us</a>.</p>
			</div>
		</div>
		<dialog id="add-dialog" class="card shadow">
			<form id="product">
				<fieldset class="no-border">
					<input type="hidden" name="@context" value="https://schema.org" required="" />
					<input type="hidden" name="@type" value="Product" required="" />
					<legend>Add a Product</legend>
					<div class="form-group">
						<label for="product-name" class="input-label required">Name</label>
						<input type="text" name="name" id="product-name" class="input" placeholder="Name of item" autocomplete="off" required="" />
					</div>
					<div class="form-group">
						<label for="product-description" class="input-label required">Description</label>
						<input type="text" name="description" id="product-description" class="input" placeholder="Short description of item" autocomplete="off" required="" />
					</div>
					<div class="form-group">
						<label for="product-image" class="input-label required">Image</label>
						<input type="file" name="image" id="product-image" class="input" accept="image/jpeg,image/png" required="" />
						<br />
						<div id="img-preview">
							<img src="https://cdn.kernvalley.us/img/raster/missing-image.png" crossorigin="anonymous" referrerpolicy="no-referrer" loading="lazy" decoding="async" alt="" />
						</div>
					</div>
					<div class="form-group">
						<label for="product-category" class="input-label required">Categories</label>
						<select name="category" id="product-category" class="input" multiple="" required="">
							<option value="souvenir" selected="">Souvenir</option>
							<option value="magnet">Magnet</option>
							<option value="keychain">Keychain</option>
							<option value="clothing">Clothing</option>
							<option value="other">Other</option>
						</select>
					</div>
					<div class="form-group">
						<label for="product-price" class="input-label required">Price</label>
						<input type="number" name="price" id="product-price" class="input" placeholder="#.##" min="1" step="0.01" autocomplete="off" required="" />
					</div>
					<div class="form-group">
						<label for="product-shipping" class="input-label required">Shipping Cost</label>
						<input type="number" name="shipping" id="product-shipping" class="input" placeholder="#.##" min="0" step="0.01" value="0" autocomplete="off" required="" />
					</div>
				</fieldset>
				<div class="flex row space-evenly">
					<button type="submit" class="btn btn-accept">
						{% include common/icon.html icon="check" height=18 width=18 fill="currentColor" %}
						<span>Add</span>
					</button>
					<button type="reset" class="btn btn-reject" data-close="#add-dialog">
						{% include common/icon.html icon="x" height=18 width=18 fill="currentColor" %}
						<span>Close</span>
					</button>
				</div>
			</form>
		</dialog>
		<div id="controls" class="flex row space-evenly">
			<button type="button" class="btn btn-primary" data-show-modal="#add-dialog">
				{% include common/icon.html icon="plus" height=18 width=18 fill="currentColor" %}
				<span>Add Item</span>
			</button>
			<button type="button" id="download" class="btn btn-accept">
				{% include common/icon.html icon="cloud-download" height=18 width=18 fill="currentColor" %}
				<span>Save Products File</span>
			</button>
			<button type="button" id="clear" class="btn btn-reject">
				{% include common/icon.html icon="trashcan" height=18 width=18 fill="currentColor" %}
				<span>Clear All</span>
			</button>
		</div>
		{% include common/footer.html %}
	</body>
</html>
