<ad-block id="{{ include.id }}" title="{{ include.label | escape }}" url="{{ include.url }}" theme="{{ include.theme | default: 'auto' }}" layout="{{ include.layout | default: 'card' }}" imagefit="{{ include.imageFit | default: 'fill' }}" imagePosition="{{ include.imagePosition | default: 'center' }}" class="custom-element if-defined" itemtype="https://schema.org/WPAdBlock" itemscope="">
	{% if include.image %}<img src="{{ include.image }}" decoding="async" loading="lazy" referrerpolicy="no-referrer" crossorigin="anonymous" alt="" slot="image" />{% endif %}
	<b slot="label">{{ include.label }}</b>
	<p slot="description">{{ include.description }}</p>
	<span slot="calltoaction">{{ include.callToAction }}</span>
</ad-block>
