<blockquote class="status-box warn no-margins" cite="https://www.gotokernville.com/">
	<h3 class="center">Whiskey Flat Days Press Release</h3>
	<p class="align-left">
		The Kernville Chamber of Commerce is sad to announce the cancellation of the 2021 Whiskey Flat Days Festival. The Board of Directors, office staff, and many others have been hard at work planning out this event for the last 6 months. This announcement is mainly due to the fact that we cannot obtain permitting from Kern County for the following: road closures, parks, Health, and ABC.
	</p>
	<p class="align-left">Although WFD has been cancelled, we still have a few exciting things in store. Be on the lookout for a <a class="underline" href="https://www.gotokernville.com/whiskey-flat-days-mayors-virtual-ra" rel="noopener noreferrer external">virtual fundraising event {% include common/icon.html icon="link-external" height="18" width="18" fill="currentColor" %}</a> put on by a few of our past mayors as well as our current 2020 WFD Mayor Sky Rocket Jami and Firecracker Shawn.</p>
	<p class="align-left">We are very grateful to all of you who have continued to support the Kernville Chamber of Commerce and Whiskey Flat Days over the last 64 years! We look forward to an even BIGGER AND BETTER Whiskey Flat Days in 2022! Stay tuned....</p>
	<br />
	<p class="align-left">Sincerely,</p>
	<cite class="align-left"><a class="underline" href="https://www.gotokernville.com/" rel="noopener noreferrer external">Kernville Chamber of Commerce {% include common/icon.html icon="link-external" height="18" width="18" fill="currentColor" %}</a> Board of Directors and Staff</cite>
</blockquote>
