<form name="event" method="POST" data-netlify="true">
	<fieldset class="no-border" autocomplete="off">
		<legend>Event Info</legend>
		<div class="input-group">
			<label for="event-name" class="block">
				<span>Event Name</span>
			</label>
			<input type="text" name="event-name" id="event-name" placeholder="Event Name" required="" />
		</div>
		<div class="input-group">
			<label for="event-date" class="block">
				{% include icon.html icon="events" %}
				<span>Date</span>
			</label>
			<input type="date" name="event-date" id="event-date" placeholder="yyyy-mm-dd" required="" />
		</div>
		<div class="input-group">
			<label for="event-start" class="block">
				{% include icon.html icon="clock" %}
				<span>Time</span>
			</label>
			<input type="time" name="event-startTime" id="event-start" placeholder="hh:mm" required="" />
			<span>&mdash;</span>
			<input type="time" name="event-endTime" id="event-end" placeholder="hh:mm" required="" />
		</div>
		<div class="input-group">
			<label for="event-description" class="block">
				{% include icon.html icon="note" %}
				<span>Description</span>
			</label>
			<input type="text" name="event-description" id="event-description" placehoder="Brief description" maxlength="80" required="" />
		</div>
		<div class="input-group">
			<datalist id="cities-list">
				<option value="Lake Isabella" />
				<option value="Kernville" />
				<option value="Weldon" />
				<option value="Wofford Heights" />
				<option value="Bodfish" />
			</datalist>
			<label for="event-location-street-address" class="block">
				{% include icon.html icon="location" %}
				<span>Address</span>
			</label>
			<input type="hidden" name="event-location-@type" value="PostalAddress" />
			<input type="text" name="event-location-streetAddress" id="event-location-street-address" placeholder="123 Some Street"  autocomplete="off" />
			<br />
			<input type="text" name="event-location-addressLocality" id="event-location-address-locality" placeholder="City"  autocomplete="off" list="cities-list" required="" />,
			<input type="number" name="event-location-postalCode" id="event-location-postalcode" min="10000" max="99999" placeholder="#####"  autocomplete="off" required="" />
			<input type="hidden" name="event-location-addressRegion" value="CA" />
			<input type="hidden" name="event-location-addressCountry" value="USA" />
		</div>
		<div class="input-group">
			<label for="event-image" class="block">
				{% include icon.html icon="file-media" %}
				<span>Image</span>
			</label>
			<input type="file" name="event-image" id="event-image" accept="image/*" required="" />
		</div>
		<div class="input-group">
			<label for="event-content" class="block">
				{% include icon.html icon="documents" %}
				<span>Page Content</span>
			</label>
			<textarea name="event-content" id="event-content" placeholder="Extended content/description" required=""></textarea>
		</div>
	</fieldset>
	<fieldset class="no-border">
		<legend>Contact Info</legend>
		<div class="input-group">
			<label for="contact-name" class="block">
				{% include icon.html icon="avatar-default" %}
				<span>Name</span>
			</label>
			<input type="text" name="contact-name" id="contact-name" placeholder="Name" autocomplete="name" required="" />
		</div>
		<div class="input-group">
			<label for="contact-email" class="block">
				{% include icon.html icon="mail-unread" %}
				<span>Email</span>
			</label>
			<input type="email" name="contact-email" id="contact-email" autocomplete="email" placeholder="user@example.com" required="" />
		</div>
		<div class="input-group">
			<label for="contact-phone" class="block">
				{% include icon.html icon="call-start" %}
				<span>Phone Number</span>
			</label>
			<input type="tel" name="contact-phone" id="contact-phone" autocomplete="telephone" placeholder="+1-555-555-5555" required="" />
		</div>
		<div class="input-group">
			<label for="contact-url" class="block">
				{% include icon.html icon="link-external" %}
				<span>Event URL</span>
			</label>
			<input type="url" name="contact-url" id="contact-url" autocomplete="url" placeholder="https://example.com/event/" />
		</div>
	</fieldset>
	<button type="submit" class="btn btn-accept">
		{% include icon.html icon="check" %}
		<span>Submit</span>
	</button>
	<button type="reset" class="btn btn-reject">
		{% include icon.html icon="x" %}
		<span>Cancel</span>
	</button>
</form>
