<header id="header" class="background-cover contain-content">
	<div id="main-event" class="event-card center color-alt" itemtype="https://schema.org/Event" itemscope="">
		<meta itemprop="identifier" content="{{ site.data.mainEvent.identifier }}" />
		<meta itemprop="url" content="https://whiskeyflatdays.com" />
		<b class="font-title color-accent">64<sup>th</sup> annual</b>
		<h1 class="center font-title color-accent uppercase event-title" itemprop="name">Whiskey Flat Days</h1>
		<meta itemprop="alternateName" content="Whiskey Flats" />
		<h2 class="center font-title color-accent">Saddle Tramps and Cowboy Camps</h2>
		<b>Est. 1957</b>
		<link itemprop="eventStatus" href="https://schema.org/EventScheduled" />
		<link itemprop="eventAttendanceMode" href="https://schema.org/OfflineEventAttendanceMode" />
		<hr class="background-accent" />
		<div class="event-dates">
			<span>President's Day Weekend</span><br />
			{% include common/icon.html icon="calendar" height="16" width="16" fill="currentColor" %}
			<time itemprop="startDate" datetime="2022-02-18">Feb. 18</time>
			<span>&mdash;</span>
			<time itemprop="endDate" datetime="2022-02-21">Feb. 21, 2022</time>
		</div>
		<div itemprop="location" itemtype="https://schema.org/City" itemscope="">
			<meta itemprop="name" content="Kernville, CA" />
			<address itemprop="address" itemtype="https://scheme.org/PostalAddress" itemscope="">

				{% include common/icon.html icon="mark-location" height="16" width="16" fill="currentColor" %}
				<b itemprop="addressLocality">Kernville</b>,
				<b itemprop="addressRegion">CA</b>
				<meta itemprop="addressCountry" content="US" />
				<meta itemprop="postalCode" content="93238" />
			</address>
			<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" itemscope="" hidden="">
				<meta itemprop="latitude" content="35.754960" />
				<meta itemprop="longitude" content="-118.424825" />
			</div>
		</div>
		<div class="event-organizer" itemprop="organizer" itemtype="https://schema.org/Organization" itemscope="">
			<b>Organized by:</b>
			<a href="https://gotokernville.com" rel="noopener noreferrer external" itemprop="url">
				<span itemprop="name" class="underline">Kernville Chamber of Commerce</span>
				{% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}
			</a>
		</div>
	</div>
</header>
