<header id="header" class="background-cover background-fixed contain-content">
	<div id="main-event" class="frosted-card center" itemtype="https://schema.org/Event" itemscope="">
		<h1 class="center font-title color-accent" itemprop="name">Whiskey Flat Days</h1>
		<meta itemprop="alternateName" content="Whiskey Flats" />
		<h2 class="center font-title color-accent">Saddle Tramps and Cowboy Camps</h2>
		<link itemprop="eventStatus" href="https://schema.org/EventScheduled" />
		<link itemprop="eventAttendanceMode" href="https://schema.org/OfflineEventAttendanceMode" />
		<div class="event-dates">
			<span>President's Day Weekend</span>
			<time itemprop="startDate" datetime="2022-02-18">Feb. 18</time>
			<span>&mdash;</span>
			<time itemprop="endDate" datetime="2022-02-21">Feb. 21</time>
		</div>
		<div itemprop="location" itemtype="https://schema.org/City" itemscope="">
			<meta itemprop="name" content="Kernville, CA" />
			<address itemprop="address" itemtype="https://scheme.org/PostalAddress" itemscope="">
				<b itemprop="addressLocality">Kernville</b>,
				<b itemprop="addressRegion">CA</b>
				<meta itemprop="addressCountry" content="US" />
				<meta itemprop="postalCode" content="93238" />
			</address>
			<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" itemscope="" hidden="">
				<meta itemprop="latitude" content="35.754960" />
				<meta itemprop="longitude" content="-118.424825" />
			</div>
		</div>
		<div itemprop="organizer" itemtype="https://schema.org/Organization" itemscope="">
			<b>Organized by:</b>
			<a href="https://gotokernville.com" rel="noopener noreferrer external" itemprop="url">
				<span itemprop="name">Kernville Chamber or Commerce</span>
			</a>
		</div>
	</div>
</header>
