<nav id="nav" class="sticky top shadow background-accent color-alt z-top clearfix">
	<span class="display-mode-standalone float-left">
		<button type="button" class="btn btn-primary" title="Go Back" data-action="back">{% include icon.html icon="go-previous" %}</button>
		<button type="button" class="btn btn-primary" title="Reload" data-action="reload">{% include icon.html icon="view-refresh" %}</button>
		<button type="button" class="btn btn-primary" title="Go Forward" data-action="forward">{% include icon.html icon="go-next" %}</button>
	</span>
	{% for link in site.data.nav %}
		<a class="btn btn-primary nav-link" href="{{ link.url }}" title="{{ link.label }}">
			{% include icon.html icon=link.icon %}
			<span class="mobile-hidden">{{ link.label }}</span>
		</a>
	{% endfor %}
	<button type="button" class="btn btn-primary" data-action="find-location" title="Use my Location" hidden="">
		{% include icon.html icon="find-location" %}
		<span class="mobile-hidden">Find my Location</span>
	</button>
</nav>
