<not-supported class="card shadow block content-visibility-auto">
	<p>Your browser does not meet the minal requirements to display the events map.</p>
	<p>Please install a better browser that supports modern websites.</p>
	<div class="flex row nowrap clearfix browser-installs">
		<a href="https://www.mozilla.org/en-US/firefox/new/" class="browser-install center inline-block float-left card" rel="external noopener noreferrer">
			<img src="https://cdn.kernvalley.us/img/logos/firefox.svg" decoding="async" loading="lazy" alt="Firefox" height="128" width="128" />
			<br />
			<span>Mozilla Firefox</span>
			{% include common/icon.html icon="link-external" %}
		</a>
		<a href="https://www.google.com/chrome/" class="browser-install center inline-block float-left card" rel="external noopener noreferrer">
			<img src="https://cdn.kernvalley.us/img/logos/chrome.svg" decoding="async" loading="lazy" alt="Firefox" height="128" width="128" />
			<br />
			<span>Google Chrome</span>
			{% include common/icon.html icon="link-external" %}
		</a>
	</div>
	<br />
</not-supported>
