---
layout: default
title: User Registration
permalink: /account/register
scripts:
  - src: /js/auth.js
    type: module
    referrerPolicy: no-referrer
---
<form id="registration" class="user-form">
	<fieldset class="no-border">
		<legend>Register</legend>
		<div class="form-group">
			<label for="reg-email" class="input-label required">
				{% include common/icon.html icon="mail-unread" height=18 width=18 fill="currentColor" %}
				<span>Email Address</span>
			</label>
			<input type="email" name="email" id="reg-email" class="input" placeholder="user@example.com" autocomplete="email" required="" />
		</div>
		<div class="form-group">
			<label for="reg-password" class="input-label required">
				{% include common/icon.html icon="key" height=18 width=18 fill="currentColor" %}
				<span>Password</span>
			</label>
			<input type="password" name="password" id="reg-password" class="input" placeholder="********" minlength="8" autocomplete="new-password" required="" />
		</div>
	</fieldset>
	<div>
		<div class="flex row space-evenly">
			<button type="submit" class="btn btn-accept btn-big grow-1">
				{% include common/icon.html icon="plus" height=18 width=18 fill="currentColor" %}
				<span>Create Account</span>
			</button>
		</div>
		<br />
		<div class="flex row space-evenly">
			<button type="reset" class="btn btn-reject">
				{% include common/icon.html icon="x" height=18 width=18 fill="currentColor" %}
				<span>Clear Form</button>
			</button>
			<a href="/account/login" role="button" class="btn btn-primary">
				{% include common/icon.html icon="sign-in" height=18 width=18 fill="currentColor" %}
				<span>Login</span>
			</a>
		</div>
	</div>
</form>
