---
layout: null
permalink: /mayors/mayors.json
---
{% assign currentYear = site.data.mainEvent.startDate | date: "%Y" %}
{% assign mayors = site.mayors | where: "year", currentYear %}
[{% for mayor in mayors %}{
  "@context": "https://schema.org",
  "@type": "Person",
  "identifier": "{{ mayor.title | slugify }}",
  "name": {{ mayor.title | jsonify }},{% if mayor.description %}
  "description": {{ mayor.description | jsonify }},{% endif %}
  "url": "{{ mayor.url | absolute_url }}",
  "image": "{{ mayor.image | default: 'https://cdn.kernvalley.us/img/raster/missing-image.png' }}"{% if mayor.sameAs %},
  "sameAs": {{ mayor.sameAs | jsonify }}{% endif %}{% if mayor.memberOf %},
  "memberOf": {
    "@type": "{{ mayor.memberOf['@type'] | default: 'Organization' }}",
    "name": {{ mayor.memberOf.name | jsonify }}{% if mayor.memberOf.url %},
    "url": "{{ mayor.memberOf.url }}"{% endif %}{% if mayor.memberOf.email %},
    "email": "{{ mayor.memberOf.email }}"{% endif %}{% if mayor.memberOf.nonprofitStatus %},
    "nonprofitStatus": "{{ mayor.memberOf.nonprofitStatus }}"{% endif %}
  }{% endif %},
  "disambiguatingDescription": {{ mayor.content | jsonify }}
}{% unless forloop.last %}, {% endunless %}{% endfor %}]
